<div>
    <h4>Import Questions data! </h4>
    <%= form_tag import_questions_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import from file" %>
    <% end %>
</div>
<br>
<li><%= link_to 'To Dashboard Page', root_path %></li>
<br>