@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body, body > p, body > ol, body > ul, body > td {margin: 8px !important}
  #fb-form {
    border-collapse: collapse;
    padding-left: 50px;
    float: left;
    box-sizing: border-box;
  }
  h1 {
    padding-left: 50px;
    
  }
  #blk {
    border: 1px solid black;
    padding: 10px;
  }
  
 label{
   font-weight: bold;;
 }
  #charts {
    border-collapse: collapse;
    margin-right: 10px;
    padding: 5px;
    clear:both;
  }
  #pie {
    width: 300px; 
    height: 250px;
    border: 1px solid black;
    margin-right: 10px;
    padding: 5px;
    float: left;
  }
  table {
    //border: 1px solid black;
     border-collapse: collapse; 
     padding: 10px;
     margin-top: 1em;
  }
  table th {
    padding: 5px;
    vertical-align: top;
    text-align: left;
  }
  table tr td {
    padding: 5px;
    vertical-align: top;
    border: 1px solid black;
  }

    

